# OpenAI-compatible proxy (example: http://aiforge.cs.purdue.edu:8002/v1)
SCHOOL_OPENAI_BASE_URL=http://localhost:8000/v1
SCHOOL_OPENAI_API_KEY=replace-with-aiforge-api-key
SCHOOL_CLI_BIN=python
SCHOOL_CLI_TIMEOUT_SECONDS=120
